@import "_xmixins";
//定义变量
$color: #1b1b1b;
$light-color: #898989;
$lighter-color: #aaa;
$primary-color: #75c171;
$danger-color: #fc6864;
$warning-color:#e3b243;
$fz-normal: .32rem;
$fz-sm: .28rem;
$fz-xs: .24rem;
$pd: .3rem;
//mixin
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin box-align($val) {
  -webkit-box-align: $val;
  -webkit-align-items: $val;
  -ms-flex-align: $val;
  align-items: $val;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin flex-direction($val){
  -webkit-flex-direction:$val;
  flex-direction:$val;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}


body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
}

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-size: $fz-sm;
}

ul, ol {
  list-style: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-muted {
  color: #777
}

.text-primary {
  color: $primary-color
}

a.text-primary:focus, a.text-primary:hover {
  color: darken($primary-color, 15%)
}

.text-success {
  color: $primary-color
}

a.text-success:focus, a.text-success:hover {
  color: #2b542c
}

.text-info {
  color: #31708f
}

a.text-info:focus, a.text-info:hover {
  color: #245269
}

.text-warning {
  color: $warning-color
}

a.text-warning:focus, a.text-warning:hover {
  color: darken($warning-color, 15%)
}

.text-danger {
  color: $danger-color !important;
}

a.text-danger:focus, a.text-danger:hover {
  color: darken($danger-color, 15%)
}

.m-b-n {
  margin-bottom: 0 !important;
}

.clearfix {
  @include x-clearfix;
}

.btn {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  border: 1px solid $light-color;
  color: $color;
  @include x-border-radius(.56rem);
  line-height: 1;
  font-size: .28rem;
  i{
    font-size: .32rem;
  }
}

.btn-danger {
  border-color: $danger-color;
  background-color: $danger-color;
  color: #ffffff;
  &:active {
    background-color: darken($danger-color, 15%);
  }
}

.btn-success {
  border-color: $primary-color !important;
  background-color: $primary-color !important;
  color: #ffffff;
  &:active {
    background-color: darken($primary-color, 15%) !important;
  }
}
.btn-white {
  border-color: #fff !important;
  background-color: #fff !important;
  color: $primary-color;
}

.btn-xxs {
  padding: .03rem .16rem;
  line-height: 18px;
  font-size: .23rem;
  @include x-border-radius(18px);
  i {
    font-size: .26rem;
  }
}

.alert {
  padding: .2rem;
  font-size: .24rem;
}

.alert-dismissable, .alert-dismissible {
  padding-right: .7rem;
  .close {
    position: relative;
    top: -.04rem;
    right: -.42rem;
    color: inherit;
  }
}

.close {
  float: right;
  font-size: .36rem;
  font-weight: 700;
  line-height: 1;
}

.bg-trans {
  background-color: transparent !important;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.alert-primary {
  color: #fff;
  background-color: $primary-color !important;
}

.alert-danger {
  color: #fff;
  background-color: $danger-color !important;
}

.container {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1.8rem;
  overflow-x: hidden;
}
.weui_search_bar{
  padding:.16rem .2rem;
}
.weui_cells_title{
  font-size: .28rem;
}
.weui_media_box {
  padding: .24rem;
}

.weui_cells {
  margin-top: .2rem;
}

.response-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.ui-badge {
  display: inline-block;
  text-align: center;
  background: #f6f6f6;
  color: #a0a0a0;
  font-size: .22rem;
  height: .32rem;
  line-height: .32rem;
  -webkit-border-radius: .16rem;
  padding: 0 .12rem;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-badge-danger {
  background: #fc6864;
  color: #fff;
}

.money-btn {
  display: inline-block;
  border: 1px solid #e5e5e5;
  color: $danger-color;
  height: .4rem;
  line-height: .4rem;
  padding: 0 .2rem;
  @include x-border-radius(.24rem);
}


