* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333; }

html {
  font-size: 50px; }

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-size: 0.24rem; }

ul, ol {
  list-style: none; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.m-b-n {
  margin-bottom: 0 !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.container {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1.2rem;
  overflow-x: hidden; }

.weui_cells_tips {
  font-size: .2rem; }

.weui_search_bar {
  padding: .16rem .2rem; }

.weui_cells_title {
  font-size: .28rem; }

.weui_media_box {
  padding: .24rem; }

.weui_cells {
  margin-top: .2rem; }

.response-img {
  display: block;
  max-width: 100%;
  height: 100%; }

.fix-btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  z-index: 10; }
  .fix-btn-box ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .fix-btn-box ul li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .fix-btn-box ul li a {
        display: block;
        color: #898989;
        line-height: 1;
        padding: .15rem 0;
        font-size: .2rem; }
        .fix-btn-box ul li a i {
          display: block;
          margin-bottom: .1rem;
          font-size: .35rem; }
        .fix-btn-box ul li a.main-btn {
          display: inline-block;
          padding: .05rem .2rem;
          -moz-border-radius: 0.1rem;
          -webkit-border-radius: 0.1rem;
          border-radius: 0.1rem;
          background-color: #75c171; }
          .fix-btn-box ul li a.main-btn i {
            color: #ffffff;
            font-size: .5rem; }
      .fix-btn-box ul li.active a {
        color: #75c171; }

.fix-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #ddd;
  height: .88rem;
  line-height: .88rem;
  text-align: center; }
  .fix-header h2 {
    font-weight: normal;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: .34rem; }
  .fix-header .back-link {
    display: block;
    width: .88rem; }
    .fix-header .back-link i {
      margin-top: -.01rem;
      vertical-align: middle;
      line-height: 1;
      font-size: .6rem; }
  .fix-header .header-filter {
    display: block;
    padding: 0 0.2rem; }
    .fix-header .header-filter a {
      color: #333; }
      .fix-header .header-filter a i:before {
        font-size: 0.2rem;
        vertical-align: middle; }
  .fix-header .filter-btn {
    -moz-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); }
    .fix-header .filter-btn i {
      font-size: .4rem; }
  .fix-header + .bd {
    padding-top: .88rem; }
  .fix-header .searbar-wrap {
    line-height: 1.6;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .fix-header .searbar-wrap i:before {
      font-size: 0.28rem; }
    .fix-header .searbar-wrap .weui_search_outer {
      background-color: transparent; }
      .fix-header .searbar-wrap .weui_search_outer:after {
        -moz-border-radius: 0.06rem;
        -webkit-border-radius: 0.06rem;
        border-radius: 0.06rem; }
    .fix-header .searbar-wrap .weui_search_bar {
      background-color: transparent;
      padding: .16rem .2rem; }
      .fix-header .searbar-wrap .weui_search_bar:before, .fix-header .searbar-wrap .weui_search_bar:after {
        display: none; }
    .fix-header .searbar-wrap .weui_search_cancel {
      line-height: .56rem;
      white-space: nowrap; }
    .fix-header .searbar-wrap .weui_search_inner .weui_search_input {
      height: .4rem;
      padding: .08rem 0;
      font-size: 0.24rem; }
    .fix-header .searbar-wrap .weui_search_inner .weui_icon_search, .fix-header .searbar-wrap .weui_search_inner .weui_icon_clear, .fix-header .searbar-wrap .weui_search_inner .weui_search_cancel {
      line-height: .56rem; }
    .fix-header .searbar-wrap .weui_search_text {
      -moz-border-radius: 0.06rem;
      -webkit-border-radius: 0.06rem;
      border-radius: 0.06rem;
      line-height: .52rem; }
      .fix-header .searbar-wrap .weui_search_text span {
        font-size: 0.24rem; }
  .fix-header + .container {
    padding-top: .88rem; }

.pic-wrap li a {
  -moz-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.58) inset;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.58) inset;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.58) inset;
  position: relative;
  display: block;
  height: 3.95rem;
  background: #fff url(../images/pic-bmw.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.pic-wrap li .author-img {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem; }

.pic-dis {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: 0.2rem; }
  .pic-dis dt {
    font-size: 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem; }
  .pic-dis dd {
    *zoom: 1; }
    .pic-dis dd:before, .pic-dis dd:after {
      content: " ";
      display: table; }
    .pic-dis dd:after {
      clear: both; }
    .pic-dis dd .pull-right {
      line-height: 1; }
      .pic-dis dd .pull-right .control-tag {
        font-size: 0.24rem; }
        .pic-dis dd .pull-right .control-tag i {
          margin-right: .05rem; }
          .pic-dis dd .pull-right .control-tag i:before {
            font-size: 0.24rem; }
        .pic-dis dd .pull-right .control-tag + .control-tag {
          margin-left: 5px; }

.author-img {
  width: .9rem;
  height: .9rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.15); }

.tag {
  display: inline-block;
  padding: .05rem .1rem;
  line-height: 1;
  background-color: #ffffff;
  color: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .tag + .tag {
    margin-left: 5px; }

/*# sourceMappingURL=style.css.map */
