* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  color: #1b1b1b; }

body {
  overflow-x: hidden;
  background-color: #f5f5f5; }

ul, ol {
  list-style: none; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-muted {
  color: #777; }

.text-primary {
  color: #75c171; }

a.text-primary:focus, a.text-primary:hover {
  color: #4aa046; }

.text-success {
  color: #75c171; }

a.text-success:focus, a.text-success:hover {
  color: #2b542c; }

.text-info {
  color: #31708f; }

a.text-info:focus, a.text-info:hover {
  color: #245269; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:focus, a.text-warning:hover {
  color: #66512c; }

.text-danger {
  color: #fc6864 !important; }

a.text-danger:focus, a.text-danger:hover {
  color: #fb1f19; }

.m-b-n {
  margin-bottom: 0 !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.btn {
  display: inline-block;
  padding: 6px 25px;
  border: 1px solid #898989;
  color: #1b1b1b;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px; }

.btn-danger {
  border-color: #fc6864;
  background-color: #fc6864;
  color: #ffffff; }
  .btn-danger:active {
    background-color: #fb1f19; }

.btn-success {
  border-color: #75c171 !important;
  background-color: #75c171 !important;
  color: #ffffff; }
  .btn-success:active {
    background-color: #4aa046 !important; }

.alert {
  padding: 10px;
  font-size: 12px; }

.alert-dismissable, .alert-dismissible {
  padding-right: 35px; }
  .alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.close {
  float: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 1; }

.bg-trans {
  background-color: transparent !important; }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0; }

.alert-primary {
  color: #fff;
  background-color: #75c171 !important; }

.alert-danger {
  color: #fff;
  background-color: #fc6864 !important; }

.container {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 54px; }

.weui_media_box {
  padding: 12px; }

.weui_cells {
  margin-top: 10px; }

.response-img {
  display: block;
  max-width: 100%;
  height: auto; }

.ui-badge {
  display: inline-block;
  text-align: center;
  background: #f6f6f6;
  color: #a0a0a0;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 8px;
  padding: 0 6px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.ui-badge-danger {
  background: #fc6864;
  color: #fff; }

.money-btn {
  display: inline-block;
  border: 1px solid #e5e5e5;
  color: #fc6864;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.index-header {
  padding: 10px 50px;
  background-color: #ffffff; }
  .index-header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 29px;
    border: 1px solid #75c171;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden; }
    .index-header ul li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #75c171;
      text-align: center;
      border-right: 1px solid #75c171; }
      .index-header ul li:last-child {
        border-right: 0; }
      .index-header ul li a {
        color: #75c171; }
      .index-header ul li.active {
        background-color: #75c171;
        color: #ffffff; }
        .index-header ul li.active a {
          color: #ffffff; }

.topic > a {
  position: relative;
  display: block;
  text-align: center;
  color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 138px; }
  .topic > a dl {
    position: absolute;
    top: 35%;
    width: 100%;
    padding: 0 10px; }
    .topic > a dl dt {
      margin-bottom: 5px; }
    .topic > a dl dd {
      font-size: 10px; }

.media-panel {
  background-color: #f5f5f5 !important; }
  .media-panel .media-panel-hd {
    padding: 10px 15px 5px;
    color: #898989; }

.media-box {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: 12px 15px;
  color: #898989;
  margin-bottom: 10px; }
  .media-box:last-child {
    margin-bottom: 0; }
  .media-box .media-hd {
    line-height: 18px;
    color: #1b1b1b; }
  .media-box .media-control {
    padding: 5px 0;
    font-size: 10px; }
    .media-box .media-control:last-child {
      padding-bottom: 0; }

a.media-box:active {
  background-color: #ECECEC; }

.media-bd {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .media-bd .media-author {
    width: 36px;
    height: 36px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden; }
  .media-bd .media-audio {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 30px; }
    .media-bd .media-audio .audio-btn {
      position: relative;
      display: inline-block;
      padding: 0 15px;
      min-width: 120px;
      height: 36px;
      line-height: 36px;
      background-color: #75c171;
      color: #ffffff;
      -moz-border-radius: 0 36px 36px 36px;
      -webkit-border-radius: 0 36px 36px 36px;
      border-radius: 0 36px 36px 36px; }
      .media-bd .media-audio .audio-btn.audio-btn-danger {
        background-color: #fc6864; }
      .media-bd .media-audio .audio-btn .audio-count {
        position: absolute;
        top: 0;
        right: -30px;
        color: #898989; }
        .media-bd .media-audio .audio-btn .audio-count .dot-red {
          position: absolute;
          width: 7px;
          height: 7px;
          left: 50%;
          margin-left: -4px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background-color: #fc6864; }
  .media-bd + .media-control {
    padding: 10px 0 0 0; }

.icon-voice {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/voice.gif) 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -3px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  -o-background-size: 16px;
  background-size: 16px; }
  .icon-voice.working {
    background-image: url(../images/voice-go.gif); }

.fix-btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center; }
  .fix-btn-box ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .fix-btn-box ul li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .fix-btn-box ul li a {
        display: block;
        color: #aaa;
        padding: 12px 0; }
      .fix-btn-box ul li.active a {
        color: #75c171; }

.media-compose {
  margin-bottom: 10px; }

.has-r-arrow {
  padding-right: 20px; }
  .has-r-arrow:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-width: 1px 1px 0 0;
    border-color: #C7C7CC;
    border-style: solid;
    position: relative;
    top: -2px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px; }

.cell-media-box {
  background-color: #ffffff;
  margin-bottom: 10px;
  display: block; }
  .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_hd {
    width: 42px;
    height: 42px;
    line-height: 42px;
    overflow: hidden; }
    .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_hd img {
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_title {
    color: #898989;
    font-size: 12px; }
    .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_title b {
      font-weight: normal;
      color: #1b1b1b;
      font-size: 13px; }
    .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_title .v-line {
      vertical-align: middle;
      margin: 0 5px; }
  .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_desc {
    padding-top: 5px; }

.media-question-box {
  padding: 0 15px; }
  .media-question-box .media-question {
    background-color: #f6f6f6;
    padding: 8px 15px;
    -moz-border-radius: 0 12px 12px 12px;
    -webkit-border-radius: 0 12px 12px 12px;
    border-radius: 0 12px 12px 12px; }
  .media-question-box .media-nobg {
    color: #1b1b1b; }

.control-dz a {
  font-size: 12px;
  color: #dcdcdc;
  margin-left: 10px; }
  .control-dz a i {
    font-size: 15px; }
  .control-dz a.active {
    color: #75c171; }

.people-wrapper .media-name {
  font-size: 15px;
  color: #75c171; }
.people-wrapper .media-control {
  margin-top: 10px; }
.people-wrapper .weui_media_box.weui_media_appmsg {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .people-wrapper .weui_media_box.weui_media_appmsg:before {
    left: 65px; }
  .people-wrapper .weui_media_box.weui_media_appmsg .weui_media_hd {
    margin-top: 10px; }
  .people-wrapper .weui_media_box.weui_media_appmsg .sjt {
    position: absolute;
    left: 8px;
    bottom: 15px; }

.search_bar_wrap .weui_search_bar {
  background-color: #ffffff; }
  .search_bar_wrap .weui_search_bar:before, .search_bar_wrap .weui_search_bar:after {
    display: none; }
  .search_bar_wrap .weui_search_bar .weui_search_outer {
    background-color: transparent; }
    .search_bar_wrap .weui_search_bar .weui_search_outer:after {
      display: none; }
  .search_bar_wrap .weui_search_bar .weui_search_inner, .search_bar_wrap .weui_search_bar .weui_search_text {
    background-color: #f7f7f7;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px; }

.sort-box {
  background-color: #efefef !important;
  padding: 10px 12px; }

.sort-btn {
  display: inline-block;
  padding: 4px 10px;
  color: #a0a0a0;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #fff;
  line-height: 1;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px; }
  .sort-btn.active {
    border-color: #75c171;
    color: #75c171; }

.xyz-box .xyz-title {
  font-size: 12px;
  color: #bfbfbf;
  padding: 10px 12px 0; }
.xyz-box .weui_media_box:before {
  left: 65px; }

.my-head {
  padding: 35px 12px 25px;
  text-align: center;
  background-color: #ffffff; }
  .my-head .my-dl {
    margin-bottom: 5px; }
    .my-head .my-dl dt img {
      width: 58px;
      height: 58px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .my-head .my-dl dd {
      font-size: 16px;
      color: #1b1b1b; }
  .my-head p {
    color: #898989; }

.my-btn-box {
  padding-top: 12px; }

.my-cells {
  background-color: transparent !important; }
  .my-cells .weui_cells:before, .my-cells .weui_cells:after {
    display: none; }
  .my-cells .weui_cells .weui_cell {
    color: #898989;
    font-size: 13px; }
    .my-cells .weui_cells .weui_cell:before {
      left: 0;
      border-color: #f7f7f7; }
    .my-cells .weui_cells .weui_cell i {
      margin-top: -2px;
      margin-right: 10px;
      display: inline-block;
      color: #898989;
      font-size: 20px;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .my-cells .weui_cells_access .weui_cell_ft:after {
    width: 10px;
    height: 10px;
    border-width: 1px 1px 0 0; }

.my-head-login {
  position: relative;
  background: url(../images/my-head-bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .my-head-login .my-flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #ffffff; }
    .my-head-login .my-flex-box dl {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .my-head-login .my-flex-box dl a {
        color: #ffffff; }
      .my-head-login .my-flex-box dl.my-dl-side {
        padding-top: 10px;
        font-size: 12px; }
      .my-head-login .my-flex-box dl dd {
        color: #ffffff !important; }

.my-head-dis {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -11px;
  height: 22px;
  line-height: 22px; }
  .my-head-dis .head-dis-inner {
    max-width: 100%;
    display: inline-block;
    padding: 0 15px;
    background-color: #ffffff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.my-login-content {
  background-color: #ffffff; }
  .my-login-content .login-content-a {
    padding: 22px 12px 0; }
    .my-login-content .login-content-a .login-content-tag {
      padding: 8px 0 12px; }
      .my-login-content .login-content-a .login-content-tag .sort-btn {
        background-color: #f6f6f6; }
  .my-login-content .login-content-b {
    text-align: center;
    padding: 12px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .my-login-content .login-content-b dl {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .my-login-content .login-content-b dl dt {
        font-size: 16px;
        color: #75c171; }
      .my-login-content .login-content-b dl dd {
        color: #aaa;
        font-size: 12px; }
  .my-login-content .login-content-c {
    padding: 8px 12px;
    color: #aaa;
    font-size: 10px; }
    .my-login-content .login-content-c span {
      color: #1b1b1b; }

.my-tag-box {
  text-align: center; }
  .my-tag-box .sort-btn {
    background-color: #f6f6f6; }

.cell-input {
  width: 100px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  background-color: #f5f5f5;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  outline: none; }
  .cell-input::-moz-placeholder {
    color: #fc6864;
    opacity: 1; }
  .cell-input:-moz-placeholder {
    color: #fc6864; }
  .cell-input:-ms-input-placeholder {
    color: #fc6864; }
  .cell-input::-webkit-input-placeholder {
    color: #fc6864; }

.question-tab {
  padding: 8px 0;
  text-align: center;
  color: #898989; }
  .question-tab ul li {
    font-size: 14px;
    display: inline-block;
    margin: 0 15px; }
    .question-tab ul li.active {
      color: #fc6864;
      border-bottom: 2px solid #fc6864; }

.cell-question-box {
  color: #898989; }
  .cell-question-box .question-status {
    font-size: 13px;
    margin-left: 8px; }
  .cell-question-box .media-box {
    background-color: transparent;
    padding-top: 0; }

a.cell-question-box:active {
  background-color: #ECECEC; }

.question-box-2 .media-question-box {
  padding: 12px; }
.question-box-2 .weui_media_box {
  padding: 0 12px; }
  .question-box-2 .weui_media_box:before {
    display: none; }

.media-wrap {
  text-align: center;
  color: #898989; }

.media-a {
  padding: 12px; }

.media-b {
  padding: 30px 0 12px;
  font-size: 16px;
  color: #626262; }

.media-c {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .media-c .media-c-a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .media-c .media-c-a span {
      font-size: 18px; }
  .media-c .media-c-b {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .media-c .media-c-c {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.media-d {
  min-height: 76px;
  padding: 18px 0; }

.media-e .btn {
  color: #ffffff;
  background-color: #dcdcdc;
  border-color: #dcdcdc; }

.media-btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 5px 20px rgba(117, 193, 113, 0.75);
  -webkit-box-shadow: 0 5px 20px rgba(117, 193, 113, 0.75);
  box-shadow: 0 5px 20px rgba(117, 193, 113, 0.75);
  background: url(../images/media-btn-a.png) 0 0 no-repeat;
  -webkit-background-size: 78px;
  -moz-background-size: 78px;
  -o-background-size: 78px;
  background-size: 78px; }
  .media-btn.media-btn-ing {
    background-image: url(../images/media-btn-ing.gif); }
  .media-btn.media-btn-over {
    background-image: url(../images/media-btn-b.png);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }
  .media-btn.media-btn-play {
    background-image: url(../images/media-btn-c.png);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }

.media-re-btn {
  display: inline-block;
  width: 47px;
  height: 47px;
  line-height: 47px;
  color: #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #dcdcdc; }
  .media-re-btn.usable {
    background-color: #fc6864; }

/*# sourceMappingURL=style.css.map */
