* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333; }

html {
  font-size: 50px; }

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-size: 0.24rem; }

ul, ol {
  list-style: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.m-b-n {
  margin-bottom: 0 !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.container {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1.2rem;
  overflow-x: hidden; }

.weui_cells_tips {
  font-size: .2rem; }

.weui_search_bar {
  padding: .16rem .2rem; }

.weui_cells_title {
  font-size: .28rem; }

.weui_media_box {
  padding: .24rem; }

.weui_cells {
  margin-top: .2rem; }

.response-img {
  display: block;
  max-width: 100%;
  height: 100%; }

.fix-btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  z-index: 10; }
  .fix-btn-box ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .fix-btn-box ul li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .fix-btn-box ul li a {
        display: block;
        color: #898989;
        line-height: 1;
        padding: .15rem 0;
        font-size: .2rem; }
        .fix-btn-box ul li a i {
          display: block;
          margin-bottom: .1rem;
          font-size: .35rem; }
        .fix-btn-box ul li a.main-btn {
          display: inline-block;
          padding: .05rem .2rem;
          -moz-border-radius: 0.1rem;
          -webkit-border-radius: 0.1rem;
          border-radius: 0.1rem;
          background-color: #75c171; }
          .fix-btn-box ul li a.main-btn i {
            color: #ffffff;
            font-size: .5rem; }
      .fix-btn-box ul li.active a {
        color: #75c171; }

.fix-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #ddd;
  height: .88rem;
  line-height: .88rem;
  text-align: center; }
  .fix-header h2 {
    font-weight: normal;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: .34rem; }
  .fix-header .back-link {
    display: block;
    width: .88rem; }
    .fix-header .back-link i {
      margin-top: -.01rem;
      vertical-align: middle;
      line-height: 1;
      font-size: .6rem; }
  .fix-header .header-filter {
    display: block;
    padding: 0 0.2rem; }
    .fix-header .header-filter a {
      color: #333; }
      .fix-header .header-filter a i:before {
        font-size: 0.2rem;
        vertical-align: middle; }
  .fix-header .filter-btn {
    -moz-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); }
    .fix-header .filter-btn i {
      font-size: .4rem; }
  .fix-header + .bd {
    padding-top: .88rem; }
  .fix-header .searbar-wrap {
    line-height: 1.6;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .fix-header .searbar-wrap i:before {
      font-size: 0.28rem; }
    .fix-header .searbar-wrap .weui_search_outer {
      background-color: transparent; }
      .fix-header .searbar-wrap .weui_search_outer:after {
        -moz-border-radius: 0.06rem;
        -webkit-border-radius: 0.06rem;
        border-radius: 0.06rem; }
    .fix-header .searbar-wrap .weui_search_bar {
      background-color: transparent;
      padding: .16rem .2rem; }
      .fix-header .searbar-wrap .weui_search_bar:before, .fix-header .searbar-wrap .weui_search_bar:after {
        display: none; }
    .fix-header .searbar-wrap .weui_search_cancel {
      line-height: .56rem;
      white-space: nowrap; }
    .fix-header .searbar-wrap .weui_search_inner .weui_search_input {
      height: .4rem;
      padding: .08rem 0;
      font-size: 0.24rem; }
    .fix-header .searbar-wrap .weui_search_inner .weui_icon_search, .fix-header .searbar-wrap .weui_search_inner .weui_icon_clear, .fix-header .searbar-wrap .weui_search_inner .weui_search_cancel {
      line-height: .56rem; }
    .fix-header .searbar-wrap .weui_search_text {
      -moz-border-radius: 0.06rem;
      -webkit-border-radius: 0.06rem;
      border-radius: 0.06rem;
      line-height: .52rem; }
      .fix-header .searbar-wrap .weui_search_text span {
        font-size: 0.24rem; }
  .fix-header + .container {
    padding-top: .88rem; }

.pic-wrap li a {
  -moz-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.58) inset;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.58) inset;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.58) inset;
  position: relative;
  display: block;
  height: 3.95rem;
  background: #fff url(../images/pic-bmw.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.pic-wrap li .author-img {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem; }

.pic-dis {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: 0.2rem; }
  .pic-dis dt {
    font-size: 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.1rem; }
  .pic-dis dd {
    *zoom: 1; }
    .pic-dis dd:before, .pic-dis dd:after {
      content: " ";
      display: table; }
    .pic-dis dd:after {
      clear: both; }
    .pic-dis dd .pull-right {
      line-height: 1; }
      .pic-dis dd .pull-right .control-tag {
        font-size: 0.24rem; }
        .pic-dis dd .pull-right .control-tag i {
          margin-right: .05rem; }
          .pic-dis dd .pull-right .control-tag i:before {
            font-size: 0.24rem; }
        .pic-dis dd .pull-right .control-tag + .control-tag {
          margin-left: 5px; }

.author-img {
  width: .9rem;
  height: .9rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.15); }

.tag {
  display: inline-block;
  padding: .05rem .1rem;
  line-height: 1;
  background-color: #ffffff;
  color: #333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .tag + .tag {
    margin-left: 5px; }

.fixed-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  *zoom: 1;
  padding: 0.2rem 0.3rem; }
  .fixed-transparent:before, .fixed-transparent:after {
    content: " ";
    display: table; }
  .fixed-transparent:after {
    clear: both; }
  .fixed-transparent .fixed-link {
    margin-left: 0.2rem;
    border: 1px solid rgba(238, 238, 238, 0.5);
    display: inline-block;
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.45); }
    .fixed-transparent .fixed-link i {
      margin-left: -1px;
      font-size: 0.32rem; }

.detail-wrap .dt-img img {
  width: 100%; }
.detail-wrap .detail-box {
  padding: 0.3rem 0.2rem;
  background-color: #ffffff !important; }
.detail-wrap h1 {
  font-size: 0.32rem;
  margin-bottom: .5rem; }

.cell-media-box {
  background-color: #ffffff;
  margin-bottom: .2rem;
  display: block; }
  .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_hd {
    position: relative;
    width: .84rem;
    height: .84rem;
    line-height: .84rem;
    overflow: hidden; }
    .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_hd img {
      height: 100%;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_title {
    color: #898989;
    font-size: 0.24rem; }
    .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_title b {
      font-weight: normal;
      color: #1b1b1b;
      font-size: .3rem; }
    .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_title .v-line {
      vertical-align: middle;
      margin: 0 .1rem; }
  .cell-media-box .weui_media_box.weui_media_appmsg .weui_media_desc {
    padding-top: .1rem; }

.audio-btn {
  position: relative;
  display: inline-block;
  width: .72rem;
  height: .72rem;
  line-height: .72rem;
  background-color: #75c171;
  color: #ffffff;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: .8rem; }
  .audio-btn .audio-count {
    position: absolute;
    top: 0;
    left: .8rem;
    color: #898989; }
    .audio-btn .audio-count .dot-red {
      position: absolute;
      width: .14rem;
      height: .14rem;
      left: 50%;
      margin-left: -.08px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #fc6864; }

.icon-voice {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url(../images/voice.gif) 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -.06rem;
  -webkit-background-size: 0.32rem;
  -moz-background-size: 0.32rem;
  -o-background-size: 0.32rem;
  background-size: 0.32rem; }
  .icon-voice.working {
    background-image: url(../images/voice-go.gif); }

.detail-box {
  font-size: 0.28rem; }
  .detail-box p {
    margin-bottom: 0.2rem; }

.dt-bot-dis {
  padding: 0.2rem;
  color: #898989; }
  .dt-bot-dis dl dt {
    margin-bottom: 0.1rem; }
    .dt-bot-dis dl dt a {
      margin-left: 0.3rem;
      color: #098be3; }
  .dt-bot-dis dl dd {
    font-size: 0.24rem; }

.my-head-new {
  position: relative;
  padding: .3rem .3rem .3rem;
  text-align: center;
  background: url(../images/my-head-bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .my-head-new .my-btn-side {
    position: absolute;
    right: .2rem;
    top: .2rem; }
    .my-head-new .my-btn-side a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      margin-left: .2rem; }
  .my-head-new .my-dl {
    margin-bottom: .1rem; }
    .my-head-new .my-dl dt {
      position: relative;
      width: 1.16rem;
      height: 1.16rem;
      margin: 0 auto; }
      .my-head-new .my-dl dt img {
        width: 1.16rem;
        height: 1.16rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .my-head-new .my-dl dd {
      font-size: 0.28rem;
      color: #fff; }

.my-head-dis {
  height: .44rem;
  line-height: .44rem; }
  .my-head-dis .head-dis-inner {
    max-width: 100%;
    display: inline-block;
    padding: 0 .3rem;
    font-size: 0.26rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.vip:before {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "\e637";
  font-family: "iconfont" !important;
  color: #ffc107;
  line-height: 1;
  font-size: .26rem;
  width: .26rem;
  height: .26rem;
  background: #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.my-flex-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #ffffff;
  text-align: center; }
  .my-flex-link > a {
    padding: .15rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #898989; }
    .my-flex-link > a strong {
      color: #333; }

.my-cells {
  background-color: transparent !important; }
  .my-cells .weui_cells:before, .my-cells .weui_cells:after {
    display: none; }
  .my-cells .weui_cells .weui_cell {
    color: #898989;
    font-size: 0.28rem; }
    .my-cells .weui_cells .weui_cell:before {
      left: 0;
      border-color: #f7f7f7; }
    .my-cells .weui_cells .weui_cell i {
      margin-top: -.04rem;
      margin-right: .2rem;
      display: inline-block;
      color: #898989;
      font-size: .4rem;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .my-cells .weui_cells_access .weui_cell_ft:after {
    width: .2rem;
    height: .2rem;
    border-width: 1px 1px 0 0; }

.my-cells-new .weui_cells .weui_cell {
  font-size: 0.28rem; }

.er-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: url(../images/er-bg.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }

.wx-sys {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5); }
  .wx-sys .er-inner {
    width: 3.64rem;
    margin-top: 3.18rem; }
    .wx-sys .er-inner .er-b .er-dl dt {
      font-size: 0.34rem;
      margin-bottom: 0; }

.er-inner {
  width: 4.64rem;
  margin-top: 1.18rem;
  -moz-border-radius: 0.22rem;
  -webkit-border-radius: 0.22rem;
  border-radius: 0.22rem;
  display: inline-block;
  background-color: #fafafa; }
  .er-inner .er-a {
    -moz-border-radius: 0.22rem 0.22rem 0 0;
    -webkit-border-radius: 0.22rem 0.22rem 0 0;
    border-radius: 0.22rem 0.22rem 0 0;
    background-color: #ffffff; }
    .er-inner .er-a .img-box {
      position: relative;
      margin-top: -2em;
      display: inline-block;
      width: 1.1rem;
      height: 1.1rem;
      border: .08rem solid #fff;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .er-inner .er-a .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .er-inner .er-a .er-dl {
      padding-bottom: .32rem; }
      .er-inner .er-a .er-dl dt {
        font-size: .26rem; }
      .er-inner .er-a .er-dl dd {
        font-size: .22rem;
        color: #898989;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .er-inner .er-b {
    padding: .32rem; }
    .er-inner .er-b .img-box img {
      width: 2.44rem;
      height: 2.44rem; }
    .er-inner .er-b .er-dl dt {
      font-size: .26rem;
      margin-bottom: .12rem; }
    .er-inner .er-b .er-dl dd {
      font-size: .22rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.btn-add {
  display: block;
  padding: 0.2rem;
  text-align: center;
  color: #098be3; }

/*# sourceMappingURL=style.css.map */
