@import "common";

.index-header {
  padding: .2rem 1rem;
  background-color: #ffffff;
  ul {
    @include flexbox();
    border: 1px solid $primary-color;
    @include x-border-radius(30rem);
    overflow: hidden;
    li {
      @include flex(1);
      color: $primary-color;
      text-align: center;
      border-right: 1px solid $primary-color;
      &:last-child {
        border-right: 0;
      }
      a {
        display: block;
        padding: .08rem 0;
        color: $primary-color;
      }
      &.active {
        background-color: $primary-color;
        color: #ffffff;
        a {
          color: #ffffff;
        }
      }
    }
  }
}

.topic {
  & > a {
    position: relative;
    display: block;
    text-align: center;
    color: #ffffff;
    @include x-background-size(cover);
    background-position: center;
    height: 2.76rem;
    dl {
      position: absolute;
      top: 35%;
      width: 100%;
      padding: 0 .2rem;
      dt {
        margin-bottom: .1rem;
        padding: 0 .8rem;
      }
      dd {
        font-size: $fz-xs;
      }
    }
  }

}

.topic-list {
  & > a, .topic-detail {
    position: relative;
    display: block;
    text-align: center;
    color: #ffffff;
    @include x-background-size(cover);
    background-position: center;
    height: 2.3rem;
    dl {
      position: absolute;
      top: 15%;
      width: 100%;
      padding: 0 .2rem;
      dt {
        margin: .6rem 0 .4rem;
        padding: 0 .8rem;
        line-height: .44rem;
      }
      dd {
        font-size: $fz-xs;
      }
    }
  }

}

.topic-detail {
  .top-head {
    padding: $pd;
  }
  dd {
    i {
      font-size: $fz-sm;
      margin-right: .1rem;
    }
  }
  .btn-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8%;
    padding: 0 .2rem;
    @include flexbox();
    li {
      @include flex(1);
      .btn {
        display: block;
        margin: 0 .12rem;
      }
    }
  }
}

.media-panel {
  background-color: #f5f5f5 !important;
  .media-panel-hd {
    padding: .2rem .3rem .1rem;
    color: $light-color;
  }
}

.media-box {
  position: relative;
  display: block;
  background-color: #ffffff;
  padding: $pd;
  color: $light-color;
  margin-bottom: .2rem;
  &:last-child {
    margin-bottom: 0;
  }
  .media-hd {
    line-height: .36rem;
    color: $color;
  }
  .media-control {
    padding: .1rem 0;
    font-size: $fz-xs;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

a.media-box {
  &:active {
    background-color: #ECECEC;
  }
}

.media-bd {
  @include flexbox();
  .media-author {
    width: .72rem;
    height: .72rem;
    @include x-border-radius(50%);
    margin-right: .2rem;
    overflow: hidden;
  }
  .media-audio {
    @include flex(1);
    padding-right: .6rem;
    .audio-btn {
      position: relative;
      display: inline-block;
      padding: 0 .3rem;
      min-width: 2.4rem;
      height: .72rem;
      line-height: .72rem;
      background-color: $primary-color;
      color: #ffffff;
      &.audio-btn-danger {
        background-color: $danger-color;
      }
      @include x-border-radius(0 .72rem .72rem .72rem);
      .audio-count {
        position: absolute;
        top: 0;
        right: -.6rem;
        color: $light-color;
        .dot-red {
          position: absolute;
          width: .14rem;
          height: .14rem;
          left: 50%;
          margin-left: -.08px;
          @include x-border-radius(50%);
          background-color: $danger-color;
        }
      }
    }
  }
  & + .media-control {
    padding: .2rem 0 0 0;
  }
}

.icon-voice {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url(../images/voice.gif) 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -.06rem;
  @include x-background-size(.32rem);
  &.working {
    background-image: url(../images/voice-go.gif);
  }
}

.fix-btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  z-index: 10;
  ul {
    @include flexbox();
    li {
      @include flex(1);
      a {
        display: block;
        color: $lighter-color;
        line-height: 1;
        padding: .15rem 0;
        font-size: .2rem;
        i{
          display: block;
          margin-bottom: .1rem;
          font-size: .35rem;
        }
      }
      &.active {
        a {
          color: $primary-color;
        }
      }
    }

  }
}

.media-compose {
  margin-bottom: .2rem;
}

.has-r-arrow {
  padding-right: .4rem;
  &:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: .2rem;
    width: .2rem;
    border-width: 1px 1px 0 0;
    border-color: #C7C7CC;
    border-style: solid;
    position: absolute;
    right: .3rem;
    top: 50%;
    margin-top: -.08rem;
  }
}

.cell-media-box {
  background-color: #ffffff;
  margin-bottom: .2rem;
  display: block;
  .weui_media_box.weui_media_appmsg {
    .weui_media_hd {
      width: .84rem;
      height: .84rem;
      line-height: .84rem;
      overflow: hidden;
      img {
        height: 100%;
        display: block;
        @include x-border-radius(50%);
      }
    }
    .weui_media_title {
      color: $light-color;
      font-size: $fz-sm;
      b {
        font-weight: normal;
        color: #1b1b1b;
        font-size: .3rem;
      }
      .v-line {
        vertical-align: middle;
        margin: 0 .1rem;
      }
    }
    .weui_media_desc {
      padding-top: .1rem;
    }
  }
}

.media-question-box {
  padding: 0 .3rem;
  .media-question {
    display: block;
    background-color: #f6f6f6;
    padding: .16rem .3rem;
    @include x-border-radius(0 .24rem .24rem .24rem);
    color: $color;
  }
  .media-nobg {
    color: $color;
  }
}

.control-dz {
  a {
    font-size: $fz-sm;
    color: #dcdcdc;
    margin-left: .2rem;
    i {
      font-size: .3rem;
    }
    &.active {
      color: $primary-color;
    }
  }
}

.people-wrapper {
  overflow: hidden;
  .media-name {
    font-size: .3rem;
    color: $primary-color;
  }
  .media-control {
    margin-top: .2rem;
  }
  .weui_media_box.weui_media_appmsg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    &:before {
      left: 1.3rem;
    }
    .weui_media_hd {
      margin-top: .2rem;
    }
    .sjt {
      position: absolute;
      left: .16rem;
      bottom: .3rem;
    }
  }
}

.search_bar_wrap {
  .weui_search_bar {
    background-color: #ffffff;
    &:before, &:after {
      display: none;
    }
    .weui_search_outer {
      background-color: transparent;
      &:after {
        display: none;
      }
    }
    .weui_search_inner, .weui_search_text {
      background-color: #f7f7f7;
      @include x-border-radius(.28rem);
    }
  }
}

.sort-box {
  border-top: 1px solid #efefef;
  background-color: #fff;
  padding: .3rem;
  text-align: center;
}

.sort-btn-box{
  @include flexbox();
  border-bottom: 1px solid #efefef;
  &:last-child{
    border-bottom: 0;
  }
  li{
    @include flex(1);
    border-right: 1px solid #efefef;
    &:last-child{
      border-right: 0;
    }
  }
}
.sort-btn {
  display: block;
  padding: .25rem 0;
  color: $color;
  font-size: .26rem;
  background-color: #ffffff;
  line-height: 1;
}

.xyz-box {
  .xyz-title {
    font-size: $fz-sm;
    color: $light-color;
    padding: .2rem .3rem .04rem;
  }
  .weui_media_box:before {
    left: 1.3rem;
  }
}

.my-head {
  padding: .7rem .3rem .5rem;
  text-align: center;
  background-color: #ffffff;
  .my-dl {
    margin-bottom: .1rem;
    dt {
      img {
        width: 1.16rem;
        height: 1.16rem;
        @include x-border-radius(50%);
      }
    }
    dd {
      font-size: $fz-normal;
      color: #1b1b1b;
    }
  }
  p {
    color: $light-color;
  }
}

.my-btn-box {
  padding-top: .3rem;
}

.my-cells {
  background-color: transparent !important;
  .weui_cells {
    &:before, &:after {
      display: none;
    }
    .weui_cell {
      color: $light-color;
      font-size: $fz-normal;
      &:before {
        left: 0;
        border-color: #f7f7f7;
      }
      i {
        margin-top: -.04rem;
        margin-right: .2rem;
        display: inline-block;
        color: $light-color;
        font-size: .4rem;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
  .weui_cells_access {
    .weui_cell_ft {
      &:after {
        width: .2rem;
        height: .2rem;
        border-width: 1px 1px 0 0;
      }
    }
  }
}

.my-head-login {
  position: relative;
  background: url(../images/my-head-bg.jpg) center no-repeat;
  @include x-background-size(cover);
  .my-flex-box {
    @include flexbox();
    color: #ffffff;
    dl {
      @include flex(1);
      a {
        color: #ffffff;
      }
      &.my-dl-side {
        padding-top: .2rem;
        font-size: $fz-sm;
      }
      dd {
        color: #ffffff !important;
      }
    }
  }
}

.my-head-b {
  position: relative;
  background: url(../images/my-head-bg-b.jpg) center no-repeat;
  @include x-background-size(cover);
}

.my-head-dis {
  position: absolute;
  left: .2rem;
  right: .2rem;
  bottom: -.22rem;
  height: .44rem;
  line-height: .44rem;
  .head-dis-inner {
    max-width: 100%;
    display: inline-block;
    padding: 0 .3rem;
    background-color: #ffffff;
    @include x-border-radius(.3rem);
    font-size: $fz-sm;
    color: #707070;
    @include x-text-overflow(ellipsis);
    border: 1px solid #e0e0e0;
  }
}

.my-login-content {
  background-color: #ffffff;
  .login-content-a {
    padding: .44rem .3rem 0;
    .login-content-tag {
      padding: .16rem 0 .3rem;
      .sort-btn {
        background-color: #f6f6f6;
      }
    }
  }
  .login-content-b {
    text-align: center;
    padding: .3rem 0;
    @include flexbox();
    dl {
      @include flex(1);
      dt {
        font-size: $fz-normal;
        color: $primary-color;
      }
      dd {
        color: $lighter-color;
        font-size: $fz-sm;
      }
    }
  }
  .login-content-c {
    padding: .16rem .3rem;
    color: $lighter-color;
    font-size: $fz-xs;
    span {
      color: $color;
    }
  }
}

.my-tag-box {
  text-align: center;
  color: $light-color;
  .sort-btn {
    background-color: #f6f6f6;
    margin: .04rem;
  }
}

.cell-input {
  width: 2rem;
  height: .6rem;
  padding-left: .2rem;
  padding-right: .2rem;
  border: 0;
  background-color: #f5f5f5;
  @include x-border-radius(.3rem);
  outline: none;
  @include x-placeholder($danger-color);
  font-size: $fz-normal;
}

.question-tab {
  padding: .16rem 0;
  text-align: center;
  color: $light-color;
  ul {
    li {
      font-size: $fz-sm;
      display: inline-block;
      margin: 0 .3rem;
      &.active {
        color: $danger-color;
        border-bottom: 2px solid $danger-color;
      }
    }
  }
}

.question-wrap {

}

.cell-question-box {
  color: $light-color;
  .question-status {
    font-size: $fz-sm;
    margin-left: .16rem;
  }
  .media-box {
    background-color: transparent;
    padding-top: 0;
  }
}

a.cell-question-box:active {
  background-color: #ECECEC;
}

.question-box-2 {
  .media-question-box {
    padding: .3rem;
  }
  .weui_media_box {
    padding: 0 .3rem;
    &:before {
      display: none;
    }
  }
}

.media-wrap {
  text-align: center;
  color: $light-color;
}

.media-a {
  padding: .3rem;
}

.media-b {
  padding: .6rem 0 .3rem;
  font-size: $fz-normal;
  color: #626262;
}

.media-c {
  @include flexbox();
  @include box-align(center);
  .media-c-a {
    @include flex(1);
    span {
      font-size: .36rem;
    }
  }
  .media-c-b {
    @include flex(1);
  }
  .media-c-c {
    @include flex(1);
  }
}

.media-d {
  min-height: 1.52rem;
  padding: .36rem 0;
}

.media-e {
  .btn {
    color: #ffffff;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
  }
}

.media-btn {
  display: inline-block;
  width: 1.56rem;
  height: 1.56rem;
  @include x-border-radius(50%);
  @include x-box-shadow(0 .1rem .4rem rgba(117, 193, 113, 0.75));
  background: url(../images/media-btn-a.png) 0 0 no-repeat;
  @include x-background-size(1.56rem);
  &.media-btn-ing {
    background-image: url(../images/media-btn-ing.gif);
  }
  &.media-btn-over {
    background-image: url(../images/media-btn-b.png);
    @include x-box-shadow(0 .1rem .4rem rgba(0, 0, 0, 0.1));
  }
  &.media-btn-play {
    background-image: url(../images/media-btn-c.png);
    @include x-box-shadow(0 .1rem .4rem rgba(0, 0, 0, 0.1));
  }
}

.media-re-btn {
  display: inline-block;
  width: .94rem;
  height: .94rem;
  line-height: .94rem;
  color: #ffffff;
  @include x-border-radius(50%);
  background-color: #dcdcdc;
  &.usable {
    background-color: $danger-color;
  }
}

.login-content-e {
  padding: 0 .3rem;
  line-height: .6rem;
  span {
    font-size: $fz-sm;
  }
  .pull-right {
    color: $light-color;
    font-size: $fz-sm;
  }
}

.cell-media-panel {
  .cell-panel-header {
    padding: .16rem .3rem;
    color: $light-color;
  }
  .cell-panel-body {
    .media-question-box {
      padding: 0;
    }
    .weui_media_box.weui_media_appmsg {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .media-audio {
      padding-right: .2rem;
      padding-left: .6rem;
      text-align: right;
      .audio-btn {
        @include x-border-radius(.72rem 0 .72rem .72rem);
        .icon-voice {
          @include x-transform(rotate(180deg));
        }
      }
      .audio-count {
        left: -.6rem;
        right: auto;
      }
    }
  }
}

.login-content-f {
  .content-f-a {
    .weui_cell {
      padding-bottom: .1rem;
    }
  }
  .textarea-box {
    background-color: #eeeeee;
    padding: .1rem .2rem;
    border: 1px solid #e0e0e0;
    @include x-border-radius(.14rem);
    .weui_textarea {
      background-color: transparent;
    }
  }
  .content-f-b {
    color: $light-color;
    font-size: $fz-xs;
    padding: 0 .3rem;
    .weui_cells_checkbox {
      float: left;
    }
    .weui_cell {
      padding: 0;
      .weui_icon_checked {
        &:before {
          font-size: $fz-normal;
        }
      }
    }
  }

}

.content-f-c {
  padding: .3rem;
  text-align: center;
}

.side-menu-bar {
  position: fixed;
  left: -100%;
  width: 100%;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background: #ffffff;
  @include x-transition(all 0.3s ease);
  &.open {
    left: 0;
  }
}

.field-head {
  text-align: center;
  color: $light-color;
  font-size: $fz-sm;
  .field-inner {
    padding: .3rem .2rem;
    line-height: 1;
  }
  .btn {
    display: block;
    padding: .3rem;
    @include x-border-radius(0);
  }
}

.field-content {
  position: absolute;
  top: .9rem;
  bottom: .9rem;
  left: 0;
  right: 0;
  padding: .3rem;
  text-align: center;
  color: $light-color;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  &+.field-head{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  a {
    color: $light-color;
  }
  dl {
    position: relative;
    float: left;
    padding: .2rem .06rem;
    width: 25%;
    &.active {
      color: $danger-color;
      dt {
        background-color: $danger-color;
        i {
          color: #fff;
        }
      }
    }
    dt {
      display: inline-block;
      width: .8rem;
      height: .8rem;
      line-height: .8rem;
      background-color: #f7f7f7;
      margin-bottom: .15rem;
      @include x-border-radius(.4rem);
      i {
        color: #d9d9d9;
        font-size: .4rem;
      }
    }
    dd {
      font-size: .2rem;
    }
  }
}

.topic-media {
  margin-bottom: .3rem;
  .topic-media-hd {
    margin-bottom: .1rem;
    margin-right: -.6rem;
    b {
      font-weight: normal;
      color: #1b1b1b;
      font-size: $fz-sm;
    }
    .pull-right {
      font-size: $fz-sm;
      color: $lighter-color;
    }
  }
  .share-link {
    color: $light-color;
    i {
      color: $primary-color;
    }
  }
}

.topic-panel {
  &.topic-media {
    margin-bottom: 0;
    .media-box {
      margin-bottom: 0;
    }
  }
  .topic-panel-head {
    background-color: #ffffff;
    padding: .16rem .3rem;
    .pull-right {
      font-size: $fz-sm;
      color: $light-color;
    }
    ul {
      li {
        float: left;
        color: $light-color;
        font-size: $fz-sm;
        &.active {
          color: $color;
        }
        &:after {
          content: "ï½œ";
          color: $light-color;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}

.wangqi{
  float: left;
  display: inline-block;
  width: .6rem;
  height: .6rem;
  line-height: .6rem;
  @include x-border-radius(50%);
  background-color: rgba(170,170,170,0.17);
  color: #bfbfbf;
  text-align: center;
}


.no-msg-wrap{
  text-align: center;
  padding: .6rem .2rem;
  color: $light-color;
  i{
    font-size: 1.6rem;
  }
  p{
    font-size: .26rem;
    margin-bottom: .2rem;
  }
}







